@use 'base/variables' as var;

@mixin telefono {
    @media (min-width: var.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: var.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: var.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: var.$desktopXL) {
        @content;
    }
}

@mixin grid ($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin reset-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}