//tipografia
$fuente-principal: 'Monstserrat', sans-serif;
$w-light: 300;
$w-regular: 400;
$w-bold: 700;
$w-black: 900;

//paleta de colores para proyecto festival de musica
$blanco: #ffffff;
$negro: #000000;
$verde: #4CB8B3;
$verde2: rgba(76, 184, 179, .95);
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;

//tamaños pantalla
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;